* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    

html,
body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #010101;
}

.main {
    padding: 20px;
    color: #EAF3FD;
}

.main__header {
    color: #EAF3FD;
}

.main__instructions {
    color: #C2C7CC;
}

.file {
    
}

#file-field {
    max-width: 640px;
}

.input-field {
    border: 1px dotted #EAF3FD;
    padding: 5px;
}

.output {
    max-width: 640px;
}

.output__field {
    padding: 20px;
}

a.output__download {
    padding: 20px;
    border: 1px solid #EAF3FD;
    color: #EAF3FD;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.output__download:hover {
    color: #000;
    background-color: #EAF3FD;
}