.output {
    max-width: 640px;

    &__field {
        padding: 20px;
    }

    &__download {
        padding: 20px;
        border: 1px solid #EAF3FD;
        color: #EAF3FD;
        border-radius: 10px;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        margin-right: 20px;
        margin-bottom: 20px;
        transition: background-color 0.2s ease-out, color 0.2s ease-out;

        &:hover {
            color: #000;
            background-color: #EAF3FD;
        }
    }
}
